$get-path-to-assets: "http://s3.amazonaws.com/com.dfeddon.choomba/client/images/";
//Functions
// @function get-path-to-assets($assetPath) {
//     @return $assetPath;
// }
#lobbyState {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    background-image: url(#{$get-path-to-assets}bg-lobby2.jpg); //url('assets/images/bg-punching.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-repeat: repeat;
    // width: 100vw;
    // height: 100vh;
    // user-select: none; // disallow text selection
    cursor: default; // remove text edit caret
    @include scrollbars(.25em, slategray, #161616);
    @include user-select(none); // mixin to disable text selection
    width: 100vw; // fullscreen width
    height: 100vh; // fullscreen height
}

.column-wrapper {
    // background-color: #fff;
    font-family: $oxygen;
    color: #fff;
    display: subgrid;
    // justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    // line-height: 1;
    // font-family: 'hobeaux-rococeaux-background', Helvetica;
    // font-weight: 20;
    // cursor: pointer;
    transition: all .3s ease;
    // width: 100vw; // fullscreen width
    // height: 90vh; // fullscreen height
}

#stats-crew-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

// #stats-wrapper {
//     width: 100%;
//     height: 100%;
//     padding: 50px;
// }
#stats-container {
    display: flex;
    flex-direction: row;
    // width: 75%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.stats-container-cell {
    display: flex;
    flex-direction: column;
}

#status-cell-left {}

.stats-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // font-family: $oxygen;
    // font-size: 11px;
}

.stats-header-label {
    font-family: $oxygen;
    font-size: 15px;
    color: #CFB2E2;
    width: 50px;
    text-align: left;
}

.stats-data1-label {
    padding-left: 5px;
    font-family: $roboto-slab;
    font-size: 13px;
    width: 100px;
    text-align: right;
    color: lightgray;
}

.stats-data2-label {
    width: 100px;
    text-align: right;
    font-family: $roboto-slab;
    font-size: 13px;
    color: gray;
}

// squad
#squad-row {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 75px 75px 75px 75px; //1fr 1fr 1fr 1fr;
    // grid-column-gap: 1px;
    // grid-row-gap: 1px;
    font-family: $oxygen;
    color: #CFB2E2;
    justify-items: end;
    justify-content: end;
    align-content: end;
}

.crew-cells {
    display: grid;
    grid-template-rows: 25px 100px 20px; //1fr 1fr;
    grid-row-gap: 0px;
    align-items: center;
    // border: 0.5px solid #fff;
}

.crew-portraits {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 75px;
    border: 1px solid #F5A623;
    // pointer-events: none; // android longpress
    -webkit-touch-callout: none; // ios longpress
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crew-names {
    text-align: center;
    font-size: 13px;
    font-family: $roboto-slab;
    background-color: #F5A623;
    color: #000;
    // border: 1 solid "#fff";
}

.crew-stats {
    width: 75px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-size: 11px;
    // height: 15px;
    background-color: #F5A623;
    border: 1px solid #F5A623;
}

// crew pool
.crew-pool-section {
    // display: flex;
    // flex: 1 1 auto;
    // padding-top: 25px;
    // overflow-y: scroll;
    // height: 350px;
    // border: 1px solid #5D5C5C;
}

.crew-pool-wrapper {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // flex: 1 1 align-self;
    overflow-y: auto;
    overflow-x: hidden;
    // height: 100%;
    height: 100%;
    /*350px;*/
}

.crew-pool-grid {
    display: grid;
    // overflow-y: auto;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
    // height: ;
    // flex-grow: 1;
}

.crew-pool-item {
    grid-column-start: auto;
    grid-row-start: auto;
    margin: 5px;
    width: 75px;
    height: 100px;
    // border: .5px solid darkgray;
    background-color: #2F2E2E;
}

.pool-item-img {
    // border: .5px solid darkgray;
    border-style: none;
    border-radius: 5px;
}

// pulse
#pulse-column {
    // height: 100%;
    // width: 75%
    padding-top: 20px;
    padding-bottom: 20px;
}

#pulseClicker {
    background-color: #fff;
}

#pulse-grid {
    // height: 90%;
    display: grid;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-rows: auto;
    grid-row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    // padding: 5px 5px;
    // grid-column-gap: 1px;
    // grid-row-gap: 1px;
    // max-height: 200px;
    font-family: $oxygen;
    color: #CFB2E2;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    // max-height: 450px;
}

.pulse-item {
    display: flex;
    flex-direction: column;
    // grid-template-rows: auto; //1fr 1fr;
    // width: 100%;
    // height: 100px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #4A90E2;
    border-radius: 5px;
    padding-top: 10px;
}

.pulse-header {
    background-color: #04293C;
    padding-left: 5px;
}

.pulse-label {
    color: #fff;
}

.pulse-desc {
    color: #04293C;
    padding-top: 5px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #0c0b0b;
    margin: auto;
    padding: 20px;
    border: 1px solid #2b2a2a;
    width: 80%;
    color: #fff;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.cmodCol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#cmodHandle {
    font-family: $oxygen;
    font-size: 23px;
}