<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%=htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="user-scalable=no,  initial-scale=1,  maximum-scale=1,  width=device-width" />
    <!-- <script src="js/lib/phaser.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/phaser-ce@2.9.0/build/phaser.js"></script>
    <!-- <script src="js/index.js"></script> -->
    <!-- <script src="bundle.client.js"></script> -->

    <!-- <link rel="stylesheet" href="index.css"> -->
    <!-- <link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files%}"> -->

    <!-- Google Webfont Loader -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Indie+Flower', 'Poiret+One']
            }
        });
    </script>
</head>

<body>

    <section id="gameView" style="display:none;">
        <div id="navigation-ui-container">
            <label>Navigation UI</label>
            <button id="exitNav">Exit</button>
        </div>
        <div id="content"></div>
        <div id="navigation-controls-container">
            <label>Controls</label>
        </div>
        </div>
    </section>

    <section id="lobbyState">

        <div id="crew-column" class="column-wrapper">
            <div id="stats-row">
                <center><label>STATS</label></center>

            </div>
            <center><label>CREW</label></center>
            <div id="squad-row">
                <div id="crew-cell-1" class="crew-cells">
                    <label id="crew-name-1" class="crew-names">Cron</label>
                    <img id="crew-portrait-1" class="crew-portraits" draggable="true" src="images/portrait_1.jpg" />
                    <label id="crew-stats-1" class="crew-stats">5 Hacker</label>
                    <!-- </div> -->
                </div>
                <div id="crew-cell-2" class="crew-cells">
                    <label id="crew-name-2" class="crew-names">Relay</label>
                    <img id="crew-portrait-2" class="crew-portraits" draggable="true" src="images/portrait_2.jpg" />
                    <label id="crew-stats-2" class="crew-stats">4 Proxy</label>
                </div>
                <div id="crew-cell-3" class="crew-cells">
                    <label id="crew-name-3" class="crew-names">Cipher</label>
                    <img id="crew-portrait-3" class="crew-portraits" draggable="true" src="images/portrait_3.jpg" />
                    <label id="crew-stats-3" class="crew-stats">5 Shade</label>
                </div>
                <div id="crew-cell-4" class="crew-cells">
                    <label id="crew-name-4" class="crew-names">Degauss</label>
                    <img id="crew-portrait-4" class="crew-portraits" draggable="true" src="images/portrait_4.jpg" />
                    <label id="crew-stats-4" class="crew-stats">3 Thumper</label>
                </div>
            </div>

            <!-- crew pool -->
            <section class="crew-pool-section">
                <div class="crew-pool-wrapper">
                    <div class="crew-pool-grid">
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                        <div class="crew-pool-item" draggable="true"></div>
                    </div>
                </div>
            </section>

        </div>


        <!-- <div id="vitals-column" class="column-wrapper">
            <!-- <center><label>VITALS</label></center>
        </div> -->

        <div id="pulse-column" class="column-wrapper">
            <center><label>PULSE</label></center>
            <button id="pulseClicker">CLICK</button>
            <ul id="pulse-grid"></ul>
        </div>

    </section>

    <section id="items" style="display:none">
        <div id="items-pulse-wrapper" class="pulse-item" data-uid="" onclick="pulseItemHandler(this)">
            <div class="pulse-header">
                <label id="pulse-item-label" class="pulse-label">Incident Name</label>
            </div>
            <label id="pulse-item-description" class="pulse-desc">Incident Description</label>
        </div>
    </section>

</body>

</html>