<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%=htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="user-scalable=no,  initial-scale=1,  maximum-scale=1,  width=device-width" />
    <!-- <script src="js/lib/phaser.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/phaser-ce@2.9.0/build/phaser.js"></script>
    <script type="text/javascript" src="js/lib/socketcluster.min.js"></script>
    <!-- <script src="js/index.js"></script> -->
    <!-- <script src="aws-iot-sdk-browser-bundle.js"></script>
    <script src="bundle.js"></script> -->

    <!-- <link rel="stylesheet" href="index.css"> -->
    <!-- <link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files%}"> -->

    <!-- Google Webfont Loader -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Yanone+Kaffeesatz', 'Anton']
            }
        });
    </script>
</head>

<body>

    <section id="gameView" style="display:none;">
        <div id="navigation-ui-container">
            <label>Navigation UI</label>
            <button id="exitNav">Exit</button>
        </div>
        <div id="content"></div>
        <div id="navigation-controls-container">
            <label>Controls</label>
        </div>
        </div>
    </section>

    <section id="lobbyState">

        <div id="crew-column" class="column-wrapper">
            <div id="stats-row">
                <center><label>STATS</label></center>

            </div>
            <center><label>CREW</label></center>
            <div id="squad-row">
                <div id="crew-cell-4" class="crew-cells">
                    <label id="crew-name-4" class="crew-names"></label>
                    <img id="crew-portrait-4" class="crew-portraits" position="4" draggable="true" />
                    <label id="crew-stats-4" class="crew-stats">Backline</label>
                    <!-- </div> -->
                </div>
                <div id="crew-cell-3" class="crew-cells">
                    <label id="crew-name-3" class="crew-names"></label>
                    <img id="crew-portrait-3" class="crew-portraits" position="3" draggable="true" />
                    <label id="crew-stats-3" class="crew-stats">Mid-Aft</label>
                </div>
                <div id="crew-cell-2" class="crew-cells">
                    <label id="crew-name-2" class="crew-names"></label>
                    <img id="crew-portrait-2" class="crew-portraits" position="2" draggable="true" />
                    <label id="crew-stats-2" class="crew-stats">Mid-Fore</label>
                </div>
                <div id="crew-cell-1" class="crew-cells">
                    <label id="crew-name-1" class="crew-names"></label>
                    <img id="crew-portrait-1" class="crew-portraits" position="1" draggable="true" />
                    <label id="crew-stats-1" class="crew-stats">Frontline</label>
                </div>
            </div>

            <!-- crew pool -->
            <section class="crew-pool-section">
                <div class="crew-pool-wrapper">
                    <div class="crew-pool-grid">
                        <div id="pool-item-1" class="crew-pool-item" draggable="true">
                            <img id="item-1-img" class="pool-item-img" src="images/character-lock.png" />
                            <label id="item-1-label">Unnamed</label>
                        </div>
                        <div id="pool-item-2" class="crew-pool-item" draggable="true">
                            <img id="item-2-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-3" class="crew-pool-item" draggable="true">
                            <img id="item-3-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-4" class="crew-pool-item" draggable="true">
                            <img id="item-4-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-5" class="crew-pool-item" draggable="true">
                            <img id="item-5-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-6" class="crew-pool-item" draggable="true">
                            <img id="item-6-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-7" class="crew-pool-item" draggable="true">
                            <img id="item-7-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-8" class="crew-pool-item" draggable="true">
                            <img id="item-8-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-9" class="crew-pool-item" draggable="true">
                            <img id="item-9-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-10" class="crew-pool-item" draggable="true">
                            <img id="item-10-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-11" class="crew-pool-item" draggable="true">
                            <img id="item-11-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-12" class="crew-pool-item" draggable="true">
                            <img id="item-12-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-13" class="crew-pool-item" draggable="true">
                            <img id="item-13-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-14" class="crew-pool-item" draggable="true">
                            <img id="item-14-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-15" class="crew-pool-item" draggable="true">
                            <img id="item-15-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-16" class="crew-pool-item" draggable="true">
                            <img id="item-16-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-17" class="crew-pool-item" draggable="true">
                            <img id="item-17-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-18" class="crew-pool-item" draggable="true">
                            <img id="item-18-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-19" class="crew-pool-item" draggable="true">
                            <img id="item-19-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-20" class="crew-pool-item" draggable="true">
                            <img id="item-20-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-21" class="crew-pool-item" draggable="true">
                            <img id="item-21-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-22" class="crew-pool-item" draggable="true">
                            <img id="item-22-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-23" class="crew-pool-item" draggable="true">
                            <img id="item-23-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-24" class="crew-pool-item" draggable="true">
                            <img id="item-24-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                        <div id="pool-item-25" lass="crew-pool-item" draggable="true">
                            <img id="item-25-img" class="pool-item-img" src="images/character-lock.png" />
                        </div>
                    </div>
                </div>
            </section>

        </div>


        <!-- <div id="vitals-column" class="column-wrapper">
            <!-- <center><label>VITALS</label></center>
        </div> -->

        <div id="pulse-column" class="column-wrapper">
            <center><label>PUNK NET</label></center>
            <button id="pulseClicker">CLICK</button>
            <ul id="pulse-grid"></ul>
        </div>

    </section>

    <section id="items" style="display:none">
        <div id="items-pulse-wrapper" class="pulse-item" data-uid="" onclick="pulseItemHandler(this)">
            <div class="pulse-header">
                <label id="pulse-item-label" class="pulse-label">Incident Name</label>
            </div>
            <label id="pulse-item-description" class="pulse-desc">Incident Description</label>
        </div>
    </section>

</body>

</html>