<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%=htmlWebpackPlugin.options.title %>
    </title>
    <script src="js/lib/phaser.js"></script>
    <!-- <script src="bundle.client.js"></script> -->

    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="{%=o.htmlWebpackPlugin.files%}">
</head>

<body>
    <div id="combat">
        <div id="content"></div>

        <div id="ui-container">

        </div>
    </div>
</body>
<!DOCTYPE html>
<html>

<head>
    <title>Choomba.io</title>
    <script src="js/lib/phaser.js"></script>
    <script src="bundle.client.js"></script>
</head>

<body>
    <div id="lobbyState">
        <label id="label">Lobby! Silver mist suffused the deck of the ship.</label>
    </div>
    <div id="navigationState">
        <div id="content"></div>
        <div id="action"></div>

        <div id="ui-container">

        </div>
    </div>
</body>

</html>

</html>